<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/addpost.css">
</head>
<body>
    <h1>create account</h1>
    <form action="/login" method="post" class="addForm">
       <div class="inputContainer">
        <label for="title">email</label>
        <input id="title" type="email" name="email" >
       </div>
         <div class="inputContainer">
        <label for="photo">password</label>
        <input id="photo" type="password" name="password" />
       </div>
         
        <button class="addbtn">create account</button>
    </form>
    <a href="/" class="backhome">back</a>
 
</body>
</html>