<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit post</title>
    <link rel="stylesheet" href="/css/addpost.css">
</head>
<body>
    <h1>write your idea</h1>
    <form action="/admin/edit-post" method="post" class="addForm">
       <div class="inputContainer">
        <input type="text" hidden value="<%= post.id %>" name="postId">
        <label for="title">title</label>
        <input id="title" type="text" name="title" value="<%= post.title %>" required>
       </div>
         <div class="inputContainer">
        <label for="photo">photo</label>
        <input id="photo" value="<%= post.image_url %>" type="text" name="photo" required />
       </div>
          <div class="inputContainer">
        <label for="description">description</label>
        <textarea id="description" type="text" name="description" rows="8" required><%= post.description %> </textarea>
       </div>

        <button class="addbtn">update Post</button>
    </form>
    <a href="/" class="backhome">back</a>
 
</body>
</html>