<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1 class="title">i am home page</h1>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ratione aspernatur distinctio sequi beatae esse vero ut dolore minus alias cupiditate doloribus deserunt, dolores, officia, atque odio hic doloremque nostrum.</p>
    <a href="/admin/createPost" class="addPostLink">add post</a>
    <hr>
</body>
</html>