<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <h1 class="title">i am post page</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus vero dolorum, repellat deleniti culpa nostrum, voluptate eos velit doloremque, porro expedita assumenda nobis quam accusantium tempora laboriosam! Sint, neque animi?</p>
</body>
</html>